<footer id="contact-us">
    <div class="seocrawler-footer-wrapper">
        <div class="seocrawler-footer-container seocrawler-container clearfix">
            <div class="seocrawler-footer-column seocrawler-item-pdlr seocrawler-column-15">
                <div id="text-1" class="widget widget_text seocrawler-widget">
                    <h3 class="seocrawler-widget-title"><span class="seocrawler-widget-head-text">About Us</span><span class="seocrawler-widget-head-divider"></span></h3><span class="clear"></span>
                    <div class="textwidget">
                        <p><span style="font-size: 14px; color: #ababab;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</span>
                            <br> <span class="gdlr-core-space-shortcode" style="margin-top: -10px;"></span>
                            <br> <img src="/assets/upload/logo.png" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="seocrawler-footer-column seocrawler-item-pdlr seocrawler-column-15">
                <div id="text-2" class="widget widget_text seocrawler-widget">
                    <h3 class="seocrawler-widget-title"><span class="seocrawler-widget-head-text">Contact Info</span><span class="seocrawler-widget-head-divider"></span></h3><span class="clear"></span>
                    <div class="textwidget">
                        <p><i class="fa fa-location-arrow" style="font-size: 16px;color: #ff4800;margin-right: 10px;"></i> Kolar Road, Bhopal, MP, India, Pin Code - 462042
                            <br> <span class="gdlr-core-space-shortcode" style="margin-top: 10px;"></span> <i class="fa fa-phone" style="font-size: 16px;color: #ff4800;margin-right: 10px;"></i> +91 62615 39526
                            <br> <span class="gdlr-core-space-shortcode" style="margin-top: 10px;"></span> <i class="fa fa-envelope-open-o" style="font-size: 16px;color: #ff4800;margin-right: 10px;"></i> ritvikchoure65@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="seocrawler-footer-column seocrawler-item-pdlr seocrawler-column-15">
                <div id="nav_menu-3" class="widget widget_nav_menu seocrawler-widget">
                    <h3 class="seocrawler-widget-title"><span class="seocrawler-widget-head-text">Why SEO AUDIT is Good?</span><span class="seocrawler-widget-head-divider"></span></h3><span class="clear"></span>
                    <div class="menu-services-container">
                        <ul id="menu-services" class="menu">
                            <li class="menu-item"><a>Improved organic search visibility</a></li>
                            <li class="menu-item"><a>Enhanced usability</a></li>
                            <li class="menu-item"><a>Stronger and better content</a></li>
                            <li class="menu-item"><a>Improved conversion rates</a></li>
                            <li class="menu-item"><a>Discover potential revenue sources</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="seocrawler-footer-column seocrawler-item-pdlr seocrawler-column-15">
                <div id="text-7" class="widget widget_text seocrawler-widget">
                    <div class="textwidget"><span class="gdlr-core-space-shortcode" style="margin-top: 5px;"></span></div>
                </div>
                <div id="nav_menu-4" class="widget widget_nav_menu seocrawler-widget">
                    <div class="menu-services-2-container">
                        <ul id="menu-services-2" class="menu">
                            <li class="menu-item"><a>Identify and capitalize on traffic trends</a></li>
                            <li class="menu-item"><a>Identify and repair offsite and onsite problems</a></li>
                            <li class="menu-item"><a>Improves information structure</a></li>
                            <li class="menu-item"><a>Improves keyword distribution</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="seocrawler-copyright-wrapper">
        <div class="seocrawler-copyright-container seocrawler-container clearfix">
            <div class="seocrawler-copyright-left seocrawler-item-pdlr"><a href="#" target="_blank"><i class="fa fa-facebook" style="font-size: 16px;color: #ffffff;margin-right: 20px;"></i></a> <a href="#" target="_blank"><i class="fa fa-twitter" style="font-size: 16px;color: #ffffff;margin-right: 20px;"></i></a> <a href="#" target="_blank"><i class="fa fa-linkedin" style="font-size: 16px;color: #ffffff;margin-right: 20px;"></i></a> <a href="#" target="_blank"><i class="fa fa-pinterest-p" style="font-size: 16px;color: #ffffff;margin-right: 20px;"></i></a> <a href="#" target="_blank"><i class="fa fa-vimeo" style="font-size: 16px;color: #ffffff;margin-right: 20px;"></i></a></div>
            <div class="seocrawler-copyright-right seocrawler-item-pdlr">Copyright ©<span id="currentYear"></span> Max Themes, All Right Reserved</div>
        </div>
    </div>
</footer>