<div class="seocrawler-top-bar">
    <div class="seocrawler-top-bar-background"></div>
    <div class="seocrawler-top-bar-container clearfix seocrawler-top-bar-full ">
        <div class="seocrawler-top-bar-left seocrawler-item-pdlr">
            <div class="seocrawler-top-bar-left-text"><i class="fa fa-clock-o" style="font-size: 16px;color: #ea4517;margin-right: 10px;"></i> <strong>Open</strong> Mon - Fri 10:00-18:00</div>
            <div class="seocrawler-top-bar-left-social"><a href="#" target="_blank" class="seocrawler-top-bar-social-icon" title="facebook"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="seocrawler-top-bar-social-icon" title="google-plus"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="seocrawler-top-bar-social-icon" title="linkedin"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="seocrawler-top-bar-social-icon" title="pinterest"><i class="fa fa-pinterest-p"></i></a><a href="#" target="_blank" class="seocrawler-top-bar-social-icon" title="twitter"><i class="fa fa-twitter"></i></a></div>
        </div>
        <div class="seocrawler-top-bar-right seocrawler-item-pdlr">
            <div class="seocrawler-top-bar-right-text"><i class="fa fa-envelope-open-o" style="font-size: 16px;color: #ea4517;margin-right: 10px;"></i> <strong>Email</strong> ritvikchoure65@gmail.com <i class="fa fa-phone" style="font-size: 16px;color: #ea4517;margin-left: 20px;margin-right: 10px;"></i> <strong>Call Now!</strong> +91 62615 39526</div>
        </div>
    </div>
</div>
<header class="seocrawler-header-wrap seocrawler-header-style-plain  seocrawler-style-menu-right seocrawler-sticky-navigation seocrawler-style-slide" data-navigation-offset="75px">
    <div class="seocrawler-header-background"></div>
    <div class="seocrawler-header-container  seocrawler-container">
        <div class="seocrawler-header-container-inner clearfix">
            <div class="seocrawler-logo  seocrawler-item-pdlr">
                <div class="seocrawler-logo-inner">
                    <a href="index.html"><img src="/assets/upload/logo.png" alt="" width="212" height="28"></a>
                </div>
            </div>
            <div class="seocrawler-navigation seocrawler-item-pdlr clearfix ">
                <div class="seocrawler-main-menu seocrawler-with-slidebar" id="seocrawler-main-menu">
                    <ul id="menu-main-navigation-1" class="sf-menu">
                        <li class="menu-item menu-item-home current-menu-item seocrawler-normal-menu"><a href="/">Home</a></li>
                        <li class="menu-item menu-item-has-children seocrawler-normal-menu"><a href="/#service">Services</a></li>
                        <li class="menu-item menu-item-has-children seocrawler-normal-menu"><a href="/#features">Features</a></li>
                        <li class="menu-item menu-item-has-children seocrawler-normal-menu"><a href="/#testimonials">Testimonials</a></li>
                        <li class="menu-item menu-item-has-children seocrawler-normal-menu"><a href="/#contact-us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>