
<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    
    <title>SEO Crawler - SEO &amp; Marketing HTML Template</title>

    <%- include('./includes/htmlHead')-%>

</head>

<body data-rsssl="1" class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js seocrawler-body seocrawler-body-front seocrawler-full  seocrawler-with-sticky-navigation gdlr-core-link-to-lightbox">
    <div class="seocrawler-mobile-header-wrap">
        <div class="seocrawler-mobile-header seocrawler-header-background seocrawler-style-slide" id="seocrawler-mobile-header">
            <div class="seocrawler-mobile-header-container seocrawler-container">
                <div class="seocrawler-logo  seocrawler-item-pdlr">
                    <div class="seocrawler-logo-inner">
                        <a href="index.html"><img src="/assets/upload/logo.png" alt="" width="212" height="28"></a>
                    </div>
                </div>
                <div class="seocrawler-mobile-menu-right">
                    <div class="seocrawler-main-menu-search" id="seocrawler-mobile-top-search"><i class="fa fa-search"></i></div>
                    <div class="seocrawler-top-search-wrap">
                        <div class="seocrawler-top-search-close"></div>
                        <div class="seocrawler-top-search-row">
                            <div class="seocrawler-top-search-cell">
                                <form role="search" method="get" class="search-form" action="#">
                                    <input type="text" class="search-field seocrawler-title-font" placeholder="Search..." value="" name="s">
                                    <div class="seocrawler-top-search-submit"><i class="fa fa-search"></i></div>
                                    <input type="submit" class="search-submit" value="Search">
                                    <div class="seocrawler-top-search-close"><i class="icon_close"></i></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="seocrawler-mobile-menu"><a class="seocrawler-mm-menu-button seocrawler-mobile-menu-button seocrawler-mobile-button-hamburger" href="#seocrawler-mobile-menu"><span></span></a>
                        <div class="seocrawler-mm-menu-wrap seocrawler-navigation-font" id="seocrawler-mobile-menu" data-slide="right">
                            <ul id="menu-main-navigation" class="m-menu">
                                <li class="menu-item menu-item-home current-menu-item"><a href="index.html">Home</a></li>
                                <li class="menu-item menu-item-has-children"><a href="our-services.html">Services</a></li>
                                <li class="menu-item menu-item-has-children"><a href="our-services.html">Features</a></li>
                                <li class="menu-item menu-item-has-children"><a href="our-services.html">Testimonials</a></li>
                                <li class="menu-item menu-item-has-children"><a href="our-services.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="seocrawler-body-outer-wrapper ">
        <div class="seocrawler-body-wrapper clearfix  seocrawler-with-transparent-header seocrawler-with-frame">
            <div class="seocrawler-header-background-transparent">
                
                <%- include('./includes/menu')-%>
    
            </div>
            
            <div class="seocrawler-page-wrapper" id="seocrawler-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper  gdlr-core-hide-in-tablet-mobile" style="padding: 67px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container"></div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #282828 ;"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-revolution-slider-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 0px;">
                                        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                                            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8">
                                                <ul>
                                                    <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/assets/upload/slider-1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> <img src="/assets/upload/slider-1.jpg" alt="" title="slider-1" width="1800" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina="">
                                                        <div class="tp-caption   tp-resizeme" id="slide-2-layer-4" data-x="center" data-hoffset="-324" data-y="center" data-voffset="-74" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 118px; font-weight: 700; color: #ff4800; letter-spacing: 0px;font-family:Nunito;text-transform:uppercase;">SEO</div>
                                                        <div class="tp-caption   tp-resizeme" id="slide-2-layer-5" data-x="center" data-hoffset="100" data-y="center" data-voffset="-74" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":210,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 118px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Nunito;text-transform:uppercase;">Crawler</div>
                                                        <div class="tp-caption  tp-resizeme" id="slide-2-layer-6" data-x="194" data-y="center" data-voffset="14" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":440,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 59px; font-weight: 200; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">is a result-driven seo service</div>
                                                        <div class="tp-caption  hideonmob" id="slide-2-layer-10" data-x="198" data-y="center" data-voffset="99" data-width="['768']" data-height="['55']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":610,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; min-width: 768px; max-width: 768px; max-width: 55px; max-width: 55px; white-space: normal; font-size: 17px; line-height: 27px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>
                                                        <div class="tp-caption hideonmob rev-btn rev-withicon " id="slide-2-layer-7" data-x="201" data-y="center" data-voffset="194" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"delay":780,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[16,16,16,16]" data-paddingright="[35,35,35,35]" data-paddingbottom="[17,17,17,17]" data-paddingleft="[35,35,35,35]" style="z-index: 9; white-space: nowrap; font-size: 12px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: 1px;font-family:Poppins;text-transform:uppercase;border-color:rgb(255,255,255);border-style:solid;border-width:2px 2px 2px 2px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Learn More</div>
                                                        <div class="tp-caption  hideonmob tp-resizeme" id="slide-2-layer-8" data-x="875" data-y="676" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":980,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 21px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">Service starts only from</div>
                                                        <div class="tp-caption hideonmob  tp-resizeme" id="slide-2-layer-9" data-x="1123" data-y="660" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1100,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11; white-space: nowrap; font-size: 54px; line-height: 54px; font-weight: 700; color: #ffb81e; letter-spacing: 0px;font-family:Nunito;">$199</div>
                                                    </li>
                                                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/assets/upload/port-item-5-bg-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> <img src="/assets/upload/port-item-5-bg.jpg" alt="" title="port-item-5-bg" width="1800" height="800" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina="">
                                                        <div class="tp-caption  hideonmob tp-resizeme rs-parallaxlevel-1" id="slide-1-layer-12" data-x="11" data-y="center" data-voffset="49" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="/assets/upload/slider-2-1.png" alt="" data-ww="359px" data-hh="315px" width="359" height="315" data-no-retina=""></div>
                                                        <div class="tp-caption fix1 tp-resizeme" id="slide-1-layer-5" data-x="right" data-hoffset="14" data-y="center" data-voffset="-55" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 110px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Nunito;text-transform:uppercase;">SEO Crawler</div>
                                                        <div class="tp-caption fix2  tp-resizeme" id="slide-1-layer-6" data-x="right" data-hoffset="89" data-y="center" data-voffset="19" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":480,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 50px; font-weight: 200; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">is a result-driven seo service</div>
                                                        <div class="tp-caption  hideonmob tp-resizeme" id="slide-1-layer-10" data-x="right" data-hoffset="30" data-y="center" data-voffset="104" data-width="['768']" data-height="['55']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":650,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; min-width: 768px; max-width: 768px; max-width: 55px; max-width: 55px; white-space: normal; font-size: 17px; line-height: 27px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</div>
                                                        <div class="tp-caption hideonmob rev-btn rev-withicon " id="slide-1-layer-13" data-x="right" data-hoffset="433" data-y="center" data-voffset="193" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"delay":920,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0px 0px -1px 0px;"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[18,18,18,18]" data-paddingright="[37,37,37,37]" data-paddingbottom="[19,19,19,19]" data-paddingleft="[37,37,37,37]" style="z-index: 9; white-space: nowrap; font-size: 12px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: 1px;font-family:Poppins;text-transform:uppercase;background-color:rgb(234,69,23);border-color:rgb(255,255,255);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Get Start</div>
                                                        <div class="tp-caption hideonmob rev-btn rev-withicon " id="slide-1-layer-7" data-x="right" data-hoffset="250" data-y="center" data-voffset="193" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"delay":920,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[16,16,16,16]" data-paddingright="[35,35,35,35]" data-paddingbottom="[17,17,17,17]" data-paddingleft="[35,35,35,35]" style="z-index: 10; white-space: nowrap; font-size: 12px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: 1px;font-family:Poppins;text-transform:uppercase;border-color:rgb(255,255,255);border-style:solid;border-width:2px 2px 2px 2px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Learn More</div>
                                                    </li>
                                                </ul>
                                                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper  gdlr-core-hide-in-mobile" style="margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js "></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js "></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="margin: -77px 0px 0px 30px;padding: 25px 0px 23px 0px;">
                                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #ff4800 ;opacity: 0.8;border-radius: 4px 4px 0px 0px;-moz-border-radius: 4px 4px 0px 0px;-webkit-border-radius: 4px 4px 0px 0px;"></div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 0px;">
                                                    <div class="gdlr-core-title-item-title-wrap ">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 21px;font-weight: 600;letter-spacing: 0px;text-transform: none;color: #ffffff;"><i class="fa fa-search" style="color: #ffffff;"></i>Free SEO Analysis<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;" id="service">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 60px 0px 0px 0px;" >
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                                    <div class="gdlr-core-column-service-media gdlr-core-media-image"><img src="/assets/upload/hp-1-icon-1.png" alt="" width="71" height="71"></div>
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap">
                                                            <h3 class="gdlr-core-column-service-title" style="font-size: 17px;font-weight: 500;text-transform: none;">Big Data Analysis</h3></div>
                                                        <div class="gdlr-core-column-service-content">
                                                            <p>Far far away, behind the word moun tains, far from the countries Vokalia and Consonantia, there.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                                    <div class="gdlr-core-column-service-media gdlr-core-media-image"><img src="/assets/upload/hp-1-icon-key.png" alt="" width="72" height="71"></div>
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap">
                                                            <h3 class="gdlr-core-column-service-title" style="font-size: 17px;font-weight: 500;text-transform: none;">Best Keyword Ranking</h3></div>
                                                        <div class="gdlr-core-column-service-content">
                                                            <p>Far far away, behind the word moun tains, far from the countries Vokalia and Consonantia, there.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                                    <div class="gdlr-core-column-service-media gdlr-core-media-image"><img src="/assets/upload/hp-1-icon-5.png" alt="" width="72" height="71"></div>
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap">
                                                            <h3 class="gdlr-core-column-service-title" style="font-size: 17px;font-weight: 500;text-transform: none;">Speed Optimization</h3></div>
                                                        <div class="gdlr-core-column-service-content">
                                                            <p>Far far away, behind the word moun tains, far from the countries Vokalia and Consonantia, there.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-20 minusmb">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 60px 0px 0px 0px;" >
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                                    <div class="gdlr-core-column-service-media gdlr-core-media-image"><img src="/assets/upload/hp-1-icon-2.png" alt="" width="72" height="72"></div>
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap">
                                                            <h3 class="gdlr-core-column-service-title" style="font-size: 17px;font-weight: 500;text-transform: none;">SEO Mobile Specialty</h3></div>
                                                        <div class="gdlr-core-column-service-content">
                                                            <p>Far far away, behind the word moun tains, far from the countries Vokalia and Consonantia, there.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                                    <div class="gdlr-core-column-service-media gdlr-core-media-image"><img src="/assets/upload/hp-1-icon-4.png" alt="" width="72" height="71"></div>
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap">
                                                            <h3 class="gdlr-core-column-service-title" style="font-size: 17px;font-weight: 500;text-transform: none;">Better Conversion</h3></div>
                                                        <div class="gdlr-core-column-service-content">
                                                            <p>Far far away, behind the word moun tains, far from the countries Vokalia and Consonantia, there.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                                    <div class="gdlr-core-column-service-media gdlr-core-media-image"><img src="/assets/upload/hp-1-icon-6.png" alt="" width="72" height="71"></div>
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap">
                                                            <h3 class="gdlr-core-column-service-title" style="font-size: 17px;font-weight: 500;text-transform: none;">Social Network Monitoring</h3></div>
                                                        <div class="gdlr-core-column-service-content">
                                                            <p>Far far away, behind the word moun tains, far from the countries Vokalia and Consonantia, there.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Contact form white">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  hp-form mbr40" style="margin: 0px 0px 0px 30px;padding: 45px 20px 30px 20px;" data-sync-height="hp-1-form-height">
                                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #efeeee ;">
                                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(/assets/upload/hp-1-form-bg.jpg);background-repeat: no-repeat;background-position: bottom right;" data-parallax-speed="0.2"></div>
                                        </div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-contact-form-7-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 0px;">
                                                    <div role="form" class="wpcf7" id="wpcf7-f4846-p2039-o1" lang="en-US" dir="ltr">
                                                        <div class="screen-reader-response"></div>
                                                        <form action="/seocrawler/#wpcf7-f4846-p2039-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                            <div class="gdlr-core-input-wrap gdlr-core-large gdlr-core-full-width gdlr-core-with-column gdlr-core-no-border">
                                                                <div class="gdlr-core-column-60"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Full Name*"></span></div>
                                                                <div class="clear"></div>
                                                                <div class="gdlr-core-column-60"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email*"></span></div>
                                                                <div class="clear"></div>
                                                                <div class="gdlr-core-column-60"><span class="wpcf7-form-control-wrap your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Phone*"></span></div>
                                                                <div class="clear"></div>
                                                                <div class="gdlr-core-column-60"><span class="wpcf7-form-control-wrap your-company"><input type="text" name="your-company" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Company Name*"></span></div>
                                                                <div class="clear"></div>
                                                                <div class="gdlr-core-column-60"><span class="wpcf7-form-control-wrap your-website"><input type="text" name="your-website" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Website*"></span></div>
                                                                <div class="gdlr-core-column-60 gdlr-core-center-align">
                                                                    <input type="submit" value="Get Free Report" class="wpcf7-form-control wpcf7-submit gdlr-core-full">
                                                                </div>
                                                            </div>
                                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" style="font-size: 15px;">
                                                        <p>*We will get back to you within 3 days</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper " style="padding: 100px 0px 60px 0px;" id="features" data-skin="Dark Port">
                        <div class="gdlr-core-pbf-background-wrap">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(/assets/upload/hp1-service-bg.jpg);background-size: cover;background-position: center;" data-parallax-speed="0.2"></div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 55px 0px 0px 0px;">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;"><img src="/assets/upload/hp1-service.png" alt="" width="429" height="437"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-30">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 20px;">
                                                    <div class="gdlr-core-title-item-title-wrap ">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 35px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Be on the top & Get more traffic to your website<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                                                    <div class="gdlr-core-divider-container gdlr-core-left-align" style="max-width: 80px;">
                                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #ff4800;border-bottom-width: 3px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 25px;">
                                                    <div class="gdlr-core-text-box-item-content" style="font-size: 17px;">
                                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 25px;">
                                                    <ul>
                                                        <li class=" gdlr-core-skin-divider" style="margin-bottom: 24px;"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-search" style="font-size: 25px;width: 25px;"></i></span><span class="gdlr-core-icon-list-content" style="font-size: 18px;">Be on the top of Google</span></li>
                                                        <li class=" gdlr-core-skin-divider" style="margin-bottom: 24px;"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-clock-o" style="font-size: 25px;width: 25px;"></i></span><span class="gdlr-core-icon-list-content" style="font-size: 18px;">Save your time and let us handle it</span></li>
                                                        <li class=" gdlr-core-skin-divider" style="margin-bottom: 24px;"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-desktop style="font-size: 25px;width: 25px;"></i></span><span class="gdlr-core-icon-list-content" style="font-size: 18px;">Cros-devices ability</span></li>
                                                        <li class=" gdlr-core-skin-divider" style="margin-bottom: 24px;"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-star" style="font-size: 25px;width: 25px;"></i></span><span class="gdlr-core-icon-list-content" style="font-size: 18px;">Be rewarded by our services</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-gradient gdlr-core-button-no-border" href="portfolio-3-columns.html" style="padding: 16px 24px 15px 30px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;background: #ea4517 ;"><span class="gdlr-core-content">See Case Studies</span><i class="gdlr-core-pos-right fa fa-long-arrow-right"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="gdlr-core-pbf-wrapper " style="padding: 58px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js " style="max-width: 805px;">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 25px;">
                                                    <div class="gdlr-core-title-item-title-wrap ">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 33px;font-weight: 600;letter-spacing: 0px;text-transform: none;">What drives your website great results<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal" style="padding-bottom: 40px;">
                                                    <div class="gdlr-core-divider-container gdlr-core-center-align" style="max-width: 82px;">
                                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #ff4800;border-bottom-width: 3px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" style="padding-bottom: 60px;">
                                                    <div class="gdlr-core-text-box-item-content" style="font-size: 17px;">
                                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align" style="padding-bottom: 24px;">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;"><img src="/assets/upload/about-icon-screen.jpg" alt="" width="51" height="46"></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                    <div class="gdlr-core-title-item-title-wrap ">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 18px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Page Optimization<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                                    <ul>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">Internal Link Structuring</span></li>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">HTML Code Cleanup</span></li>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">Website Content Writing</span></li>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">Content Optimization</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-15">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;"><img src="/assets/upload/about-icon-eye.jpg" alt="" width="40" height="40"></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                    <div class="gdlr-core-title-item-title-wrap ">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 18px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Internal Site Audit<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                                    <ul>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">Internal Link Structuring</span></li>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">HTML Code Cleanup</span></li>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">Website Content Writing</span></li>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">Content Optimization</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-15">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align" style="padding-bottom: 25px;">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;"><img src="/assets/upload/about-icon-system.jpg" alt="" width="42" height="42"></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                    <div class="gdlr-core-title-item-title-wrap ">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 18px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Technical SEO<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                                    <ul>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">Internal Link Structuring</span></li>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">HTML Code Cleanup</span></li>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">Website Content Writing</span></li>
                                                        <li class=" gdlr-core-skin-divider"><span class="gdlr-core-icon-list-icon-wrap"><i class="fa fa-check" style="color: #ff4800;font-size: 15px;width: 15px;"></i></span><span class="gdlr-core-icon-list-content" style="color: #676767;">Content Optimization</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="gdlr-core-pbf-wrapper " style="padding: 130px 0px 80px 0px;">
                        <div class="gdlr-core-pbf-background-wrap">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(/assets/upload/about-bg-2.jpg);background-size: cover;background-position: center;" data-parallax-speed="0.2"></div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first" data-skin="Dark Port">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                                    <div class="gdlr-core-counter-item-number gdlr-core-skin-title"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="2000" data-counter-start="1000" data-counter-end="30+">1000</span></div>
                                                    <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" style="font-size: 17px;">Clients</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-15" data-skin="Dark Port">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                                    <div class="gdlr-core-counter-item-number gdlr-core-skin-title"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="2000" data-counter-start="1000" data-counter-end="67">1000</span></div>
                                                    <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" style="font-size: 17px;">Optimized Websites</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-15" data-skin="Dark Port">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-counter-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                                    <div class="gdlr-core-counter-item-number gdlr-core-skin-title"><span class="gdlr-core-counter-item-count gdlr-core-js" data-duration="2000" data-counter-start="0" data-counter-end="2">0</span></div>
                                                    <div class="gdlr-core-counter-item-bottom-text gdlr-core-skin-content" style="font-size: 17px;">Years Of Services</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="gdlr-core-pbf-section">
                        <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper " style="padding: 58px 0px 57px 0px;" id="testimonials">
                        <div class="gdlr-core-pbf-background-wrap">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(/assets/upload/hp1-testimonial-bg-3.png);background-repeat: no-repeat;background-position: center;" data-parallax-speed="0"></div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom" style="max-width: 770px;">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-testimonial-item gdlr-core-item-pdb clearfix  gdlr-core-testimonial-style-center gdlr-core-item-pdlr">
                                        <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 gdlr-core-nav-style-middle-large" data-type="carousel" data-column="1" data-nav="navigation" data-vcenter-nav="1">
                                            <div class="gdlr-core-block-item-title-wrap  gdlr-core-center-align gdlr-core-item-mglr" style="margin-bottom: 40px;">
                                                <div class="gdlr-core-block-item-title-inner">
                                                    <h3 class="gdlr-core-block-item-title" style="font-size: 26px;text-transform: none;letter-spacing: 0px;">What Clients Say?</h3></div>
                                                <div class="gdlr-core-flexslider-nav gdlr-core-round-style gdlr-core-absolute-center gdlr-core-right"></div>
                                            </div>
                                            <ul class="slides">
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-testimonial clearfix">
                                                        <div class="gdlr-core-testimonial-content-wrap">
                                                            <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 20px;">
                                                                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful.</p>
                                                            </div>
                                                            <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                                <div class="gdlr-core-testimonial-author-image gdlr-core-media-image"><img src="/assets/upload/testimonial-1-150x150.jpg" alt="" width="150" height="150"></div>
                                                                <div class="gdlr-core-testimonial-author-content">
                                                                    <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">John Doe</div>
                                                                    <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Customer</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-testimonial clearfix">
                                                        <div class="gdlr-core-testimonial-content-wrap">
                                                            <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 20px;">
                                                                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                                                            </div>
                                                            <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                                <div class="gdlr-core-testimonial-author-image gdlr-core-media-image"><img src="/assets/upload/shutterstock_447504466-150x150.jpg" alt="" width="150" height="150"></div>
                                                                <div class="gdlr-core-testimonial-author-content">
                                                                    <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Jane Smith</div>
                                                                    <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Web Marketing Analyst</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-testimonial clearfix">
                                                        <div class="gdlr-core-testimonial-content-wrap">
                                                            <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 20px;">
                                                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.</p>
                                                            </div>
                                                            <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                                <div class="gdlr-core-testimonial-author-image gdlr-core-media-image"><img src="/assets/upload/shutterstock_342458267-150x150.jpg" alt="" width="150" height="150"></div>
                                                                <div class="gdlr-core-testimonial-author-content">
                                                                    <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Paul Frank</div>
                                                                    <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">CEO Of Apple Corp.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <%- include('./includes/footer')-%>
        </div>
    </div><a href="#seocrawler-top-anchor" class="seocrawler-footer-back-to-top-button" id="seocrawler-footer-back-to-top-button"><i class="fa fa-angle-up"></i></a>

<%- include('./includes/htmlScript')-%>
  
</body>
</html>