.line {
    border-bottom: 1px solid #eee;
    float: left;
    margin-bottom: 18px;
    padding: 8px 0 0;
    width: 100%;
}

.headBox {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headBox h4 {
    margin-bottom: 0px!important;
}

.headBox .titleStr {
    float: left;
    padding-left: 8px;
    font-size: 17px;
    line-height: 33px;
    font-weight: 500;
}

.solveMsg {
    float: right;
    font-size: 12px;
    padding-right: 15px;
    color: #A6A6A6;
}

.solveMsg .fa {
    font-size: 12px;
}

.solveMsgBlue {
    color: #4693D5;
}

.solveMsgGreen {
    color: #16a085;
}

.seoBox {
    position: relative;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #fff;
    opacity: 0.8;
    margin-bottom: 10px;
}

.seoBox:hover {
    cursor: pointer;
    border: 1px solid #eee;
    background: #fff none repeat scroll 0 0;
    opacity: 1;
}

.seoBox:hover .headBox {
    background-color: #f6f6f6;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom10 {
    margin-bottom: 10px;
}

.contentBox {
    margin-top: 16px;
    padding-left: 8px;
}

.passedBox {
    background: rgba(0, 0, 0, 0) url("../img/correct.png") no-repeat scroll 1px top;
    padding-left: 26px;
}

.errorBox {
    background: rgba(0, 0, 0, 0) url("../img/wrong.png") no-repeat scroll 1px top;
    padding-left: 26px;
}

.improveBox {
    background: rgba(0, 0, 0, 0) url("../img/low.png") no-repeat scroll 1px top;
    padding-left: 26px;
}

.lowImpactBox {
    background: rgba(0, 0, 0, 0) url("../img/low.png") no-repeat scroll 1px top;
    padding-left: 26px;
}

.seoBox .questionBox {
    position: absolute;
    right: 15px;
    top: 75px;
    z-index: 1029;
}

.seoBox .questionBox i {
    font-size: 15px;
    display: none;
}

.seoBox:hover .questionBox i {
    font-size: 15px;
    display: block;
}

.grayColor {
    color: #A6A6A6;
}

.tooltip-inner {
    white-space: pre-wrap;
    min-width: 100px;
}

.passedBox .suggestionBox {
    background-color: #afdaaf;
}

.errorBox .suggestionBox {
    background-color: #f1b5b5;
}

.improveBox .suggestionBox {
    background-color: #fbdab4;
}

.lowImpactBox .suggestionBox {
    background-color: #e0e0e0;
}

.suggestionBox {
    border-radius: 5px;
    margin-bottom: 3px;
    margin-top: 10px;
    padding: 15px;
    display: none;
}

.showLess {
    display: none;
}

.showLinks {
    text-align: center;
}

.showLinks a {
    color: #4693D5;
    font-weight: bold;
}

.mobileView img {
    background-color: #ffffff;
    border: 1px solid #c3e8f4;
    border-radius: 5px;
    box-shadow: 0 0 0 4px #f0fbff;
    box-sizing: border-box;
    color: #111111;
    padding: 5px 10px;
}

.showLinks a:hover {
    color: #ec4060;
    font-weight: bold;
}

a:hover {
    color: #ec4060;
}

.hideTr {
    display: none;
}

.googlePreview {
    border: 4px solid #f1f1f1;
    padding: 12px 10px;
    border-radius: 4px;
}

.googlePreview p {
    color: #444;
    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
    margin: 0 0 5px;
}

.googlePreview p:first-child {
    color: #00e;
    font-size: 16px;
    margin-bottom: 2px;
    overflow-x: hidden;
    text-decoration: underline;
    white-space: nowrap;
}

.googlePreview p:nth-child(2) {
    color: #00802a;
    font-size: 14px;
}

.centerTable th,
.centerTable td {
    text-align: center;
}

.altImgGroup {
    padding-left: 10px;
}

.keywordsTags li {
    background-color: #ecebeb;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    list-style-type: none;
    margin: 0 12px 12px 0;
}

.keywordsTags .keyword {
    padding: 0 6px;
}

.keywordsTags .number {
    background: #4693d5 none repeat scroll 0 0;
    border-radius: 0 3px 3px 0;
    color: #fff;
    display: inline-block;
    height: 18px;
    padding: 0 6px;
}

.hide {
    display: none;
}

.progress-bar-striped,
.progress-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress-bar-darkgreen {
    background-color: #16a085;
}

.padLeft10 {
    padding-left: 10px;
}

.padRight10 {
    padding-right: 10px;
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    word-wrap: break-word;
}

.screenBox {
    width: 34%;
}

.levelBox {
    width: 45%;
}

.progressBox {
    padding: 8px 8px 8px 0;
}

.mainLink {
    font-size: 20px;
}

.timeBox {
    margin-bottom: 10px;
}

.circleBox {
    margin-top: 40px;
}

@media only screen and (min-width: 10px) and (max-width: 1200px) {
    .screenBox {
        width: 100%;
    }
}